* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"Noto Serif JP";
  background-color: #ebf6f7;
}

header {
  height: 65px;
  width: 100%;  
  background-color: #e0ffff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}
  
.header-right {
  float: right;
  magin-right: -25px;
}
  
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}
  
.header-right a:hover{
  background-color: #e6ffff;
}

.heading-wrapper {
	font-size: 20px;
	margin-top: 70px;
	margin-bottom: 50px;
	text-align: center;
}

.heading-wrapper h1, .story-content {
	position: relative;
	z-index: 8;
}

.story-content {
	text-align: center;
	padding: 30px 0;
}

h2 {
	font-size: 40px;
	margin-bottom: 25px;
}

.story-content p {
	font-size: 25px;
	line-height: 2em;
}

span {
	font-size:33px;
}

.purple {
	color: #a59aca;
}

.blue {
	color: #2ca9e1;
}

.rainbow {
	color: #ffec47;
	background: -webkit-linear-gradient(0deg,#ffc0cb,#ffec47,#ea5550,#9b72b0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.green {
	color: #47885e;
}

.indigo {
	color: #1e50a2;
}

.orange {
	color: #f08300;
}

.rose {
	color: #e9546b;
}

.frame {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	z-index: 5;
	top: 113%;
	right: 75%;	
}

.frame2 {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	width: 480px;
	height: 480px;
	z-index: 5;
	top: -15%;
	right: 60%;	
}

.frame3 {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	z-index: 5;
	top: 77%;
	right: 2%;	
}

footer a {
  margin-bottom: 10px;
}

footer img{
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #a0d8ef;
  z-index: 9;
}


*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.cp_cont {
	display:none;
}

.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}

.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}

.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}

@media all and (max-width: 1000px) {
	footer {
		text-align: center;
	}
}

@media all and (max-width: 670px) {
	.header-right {
	  display: none;
	}
	
	h2 {
	  font-size: 24px;
	}
	
	.story-content p {
	  font-size: 15px;
	}
	
	.frame {
	  width:300px;
	  height:300px;
	  top: 90%;
	  right: 40%
	}
	
	.frame2 {
	  width: 380px;
	  height: 380px;
	}
	
	.frame3 {
	  width: 150px;
	  height: 150px;
	  top: 50%;
	  right: 10%;
	}
		
	span {
	  font-size: 20px;
	}
	
	.cp_cont {
	  display: block;
	}
}
